#sunrise{
  width: 100%;
}

#schedule{
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

#schedule h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
}

#schedule .table-wrap {
  overflow-x: scroll;
  margin-right: 20px;
  margin-left: 20px;

}


#schedule table{
  width: 90%;
  border-collapse: collapse;
  white-space: nowrap;
  margin-top: 40px;
}
#schedule .table th,
#schedule .table td {
  border: 2px solid #2e2e2e;
  padding: 4px 8px;
}

#schedule #marubatu {
  font-size: 25px;
}
#schedule #date {
  font-size: 15px;
}

#profile{
  margin-top: 200px;
  margin-bottom: 150px;
  text-align: center;
}

#profile img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
#text {
  width: 85%;
  margin-left: 8%;
  margin-top: 35px;
  font-size: 25px;
  text-align: left;
}
