/* initilize style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: solid 1px #e2e4e5;
}

#container{
    width: 100%;
    height: 100vh;
    /* background-color: azure; */
}

.header{
    height: 60px;
    box-shadow: 0 5px 5px -2px #ccc5c5;
    border-bottom: solid 1px #c5c5c5;
}

/* search box */


.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.2em;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
  height: 2.0em;
}
