#profile_icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
#profile_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}